### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [26]:
unique_df = purchase_data.loc[:,["Gender","SN","Age"]]
unique_df = unique_df.drop_duplicates()
unique_df.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [42]:
total_players = unique_df.count()["Gender"]
pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
unique_items = len(purchase_data["Item ID"].unique())
unique_items

179

In [29]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [30]:
num_purchases = purchase_data["Price"].count()
num_purchases

780

In [31]:
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [32]:
sum_table = pd.DataFrame({
    "Number of Unique Items": unique_items,
    "Average Price": [average_price],
    "Number of Purchases": [num_purchases],
    "Total Revenue": [total_rev]
})

sum_table["Average Price"] = sum_table["Average Price"].map("${:,.2f}".format)
sum_table["Total Revenue"] = sum_table["Total Revenue"].map("${:,.2f}".format)

sum_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
gender_df = unique_df["Gender"].value_counts()
gender_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [34]:
gender_df = pd.DataFrame(unique_df)
gender_df

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [35]:
gender_total_df = unique_df["Gender"].value_counts().sum()
gender_total_df

576

In [39]:
percent = ((gender_df)/(gender_total_df)) * 100
percent.round(2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [37]:
gender_df[percent] = (gender_df["Gender"].value_counts()/gender_total_df["Gender"].value_counts.sum()) * 100
percent.round()

IndexError: invalid index to scalar variable.

In [38]:

df[percent] = (df['column_name'] / df['column_name'].sum()) * 100

NameError: name 'df' is not defined

In [ ]:
gender_df[percent] = (gender_df['Gender'] / gender_df['Gender'].sum()) * 100

In [ ]:
percentage = purchase_data["Male"].value_counts()/purchase_data["Gender"].value_counts().sum()

In [ ]:
percentage = purchase_data["Gender"].value_counts()/purchase_data["Gender"]value_counts().sum()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame