### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [235]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [236]:
unique_df = purchase_data.loc[:,["Gender","SN","Age"]]
unique_df = unique_df.drop_duplicates()
unique_df.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [237]:
#total_players = unique_df.count()["Gender"]
#total_players
total_players = unique_df.count()["Gender"]
pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [238]:
unique_items = len(purchase_data["Item ID"].unique())
unique_items

179

In [239]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [240]:
num_purchases = purchase_data["Price"].count()
num_purchases

780

In [241]:
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [242]:
sum_table = pd.DataFrame({
    "Number of Unique Items": unique_items,
    "Average Price": [average_price],
    "Number of Purchases": [num_purchases],
    "Total Revenue": [total_rev]
})

sum_table["Average Price"] = sum_table["Average Price"].map("${:,.2f}".format)
sum_table["Total Revenue"] = sum_table["Total Revenue"].map("${:,.2f}".format)

sum_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [243]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [244]:
unique_df

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [245]:
gender_data = purchase_data[["Gender"]].value_counts()
gender_data

Gender
Male                     652
Female                   113
Other / Non-Disclosed     15
dtype: int64

In [246]:
gender_df = unique_df["Gender"].value_counts()
gender_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [247]:
gender_series = unique_df["Gender"].value_counts()
type(gender_series)  # DO NOT USE THIS METHOD #   THIS IS A SERIES
gender_series

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [248]:
gender_df = pd.DataFrame(gender_series)
type(gender_df)   # USE THIS METHOD INSTEAD #   IT IS A DATAFRAME
gender_df.rename(columns = {'Gender':'Total Count'}, inplace = True) 
gender_df

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11

In [249]:
###gender_summary = pd.DataFrame({“Total Count”: [gender_df], “Percentage of Players”: [percentage_of_players]})

In [250]:
gender_total_series = unique_df["Gender"].value_counts().sum()
gender_total_series

576

In [251]:
total_players = unique_df.count()["Gender"]
pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

In [252]:
percent_series = ((gender_series/gender_total_series) * 100).map("{:,.2f}%".format)
percent_series

Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Gender, dtype: object

In [253]:
#percent_df = (((gender_df)/(gender_total_series)) * 100)
#gender_df.rename(columns = {'Total Count':'Percentage of Players'}, inplace = True) 
#percent_df

In [254]:
percent_df = pd.DataFrame(percent_series)
percent_df

                       Gender
Male                   84.03%
Female                 14.06%
Other / Non-Disclosed   1.91%

In [255]:
merge_df = pd.merge(gender_df, percent_df, left_index=True, right_index=True)
merge_df

                       Total Count  Gender
Male                           484  84.03%
Female                          81  14.06%
Other / Non-Disclosed           11   1.91%

In [256]:
merge_df.rename(columns = {'Percentage of Players_x':'Total Count',"Gender":"Percentage of Players"}, inplace = True) 
merge_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [257]:
# Merge two dataframes using an inner join
#merge_df = pd.merge(info_df, items_df, on="customer_id")
#merge_df

In [258]:
#  DOES NOT WORK
#gender_summary = pd.DataFrame({"Total Count":[gender_df], "Percentage of Players":[percent]})

#gender_summary.head()

In [259]:
#DOES NOT WORK
#gender_summary = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [Male, Female, Nondisclosed], "Total Count": [Males, Females, Nons]})

In [260]:
#DOES NOT WORK
#gender_df = pd.gender_df({“Total Count”: [gender_df], “Percentage of Players”: [percentage_of_players]})

In [261]:
#percentage_of_players = ((gender_df)/(gender_total_df)) * 100
#gender_df["Percentage of Players"] = percentage_of_players
#gender_df.head()

In [262]:
#sum_table["Average Price"] = sum_table["Average Price"].map("${:,.2f}".format)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [263]:
purchase_analysis_df = pd.DataFrame(purchase_data)
#purchase_analysis_df = purchase_data.loc[:,["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
#purchase_analysis_df = purchase_analysis_df.drop_duplicates()
#purchase_analysis_df.head()
purchase_analysis_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [264]:
# Group purchase_data by Gender
gender_stats = purchase_data.groupby("Gender")

In [265]:
# Count Screen Names by Gender
total_count_gender = gender_stats.nunique()["SN"]

In [266]:
purchase_count = purchase_data["Price"].count()
purchase_count

780

In [306]:
purchase_count_gender = gender_stats["Purchase ID"].count()
purchase_count_gender
purchase_count_gender.to_frame()

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [293]:
average_purchase_price_gender = purchase_data["Price"].mean()
average_purchase_price_gender

3.050987179487176

In [283]:
average_purchase_price_gender = gender_stats["Price"].mean()
average_purchase_price_gender
average_purchase_price_gender.to_frame()

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [270]:
total_purchase_value = purchase_data["Price"].sum()
total_purchase_value

2379.77

In [284]:
total_purchase_value_gender = gender_stats["Price"].sum()
total_purchase_value_gender
total_purchase_value_gender.to_frame()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [272]:
#Avg Total Purchase per Person
avg_total_per_person = total_purchase_value/total_players
avg_total_per_person

4.131545138888889

In [299]:
avg_total_per_person_gender = total_purchase_value_gender/total_count_gender
avg_total_per_person_gender
avg_total_per_person_gender.to_frame()

                              0
Gender
Female                 4.468395
Male                   4.065372
Other / Non-Disclosed  4.562727

In [303]:
merge_purchase_analysis = pd.merge(purchase_count_gender, average_purchase_price_gender, left_index=True, right_index=True)
merge_purchase_analysis

TypeError: Can only merge Series or DataFrame objects, a <class 'float'> was passed

In [314]:
purchase_analysis_df = pd.DataFrame({
    "Purchase Count": purchase_count_gender,
    "Average Purchase Price": average_purchase_price_gender,
    "Total Purchase Value": total_purchase_value_gender,
    "Avg Total Purchase per Person": avg_total_per_person_gender
})
purchase_analysis_df

purchase_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [274]:
# sum_table = pd.DataFrame({
#    "Number of Unique Items": unique_items,
#    "Average Price": [average_price],
#    "Number of Purchases": [num_purchases],
#    "Total Revenue": [total_rev]
# })

# sum_table["Average Price"] = sum_table["Average Price"].map("${:,.2f}".format)
# sum_table["Total Revenue"] = sum_table["Total Revenue"].map("${:,.2f}".format)

# sum_table

In [275]:
#gender_data = purchase_data[["Gender"]].counts()
#gender_data

In [315]:
# mean = purchase_data.groupby("Gender")
# mean_df = mean["Price"].mean().to_frame()
# #mean_df.map({"${:,.2f}%"}).format()
# #############   STUCK HERE  ##################
# mean_df["Price"].mean_df["Price"].map({"${:,.2f}%"}).format()
# mean_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame